# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
*.spec.bak

# Virtual env
.venv/

# IDE
.vscode/
.idea/

# Secrets
.env

# Build output
dist/

# OS
Thumbs.db
Desktop.ini

# Ruff cache
.ruff_cache/
